{% extends "base.html" %}

{% block title %}Steg Maker{% endblock %}

{% block header %}
	<h1>Steganography</h1>
{% endblock %}

{% block content %}
	<p class="button-container">
		<a class="button" href="{{ url_for('views.embed') }}">Embed a message in a picture</a>
		<a class="button" href="{{ url_for('views.extract') }}">Extract a message from a picture</a>
	</p>
	<p>
		Steganography is the practice of hiding the existence of a message. This contrasts with cryptography, where only the message content is hidden. The importance of cryptography in underground publishing receives media attention (consider the Snowden leaks), but steganography remains largely absent from the conversation.
	</p>
	<p>
		There are some classic and low-tech examples of steganography used throughout history: writing with invisible ink, reading the first letter of every line, writing under a stamp, blinking in morse code in a video, encoding your message in a knitting pattern, or reporting domestic abuse to the dispatcher by "ordering pizza". In the digital age, some of these methods have equivalents, but it's generally harder for "normal" individuals to hide the existence of their communications.
	</p>
	<p>
		Further, many countries have effectively made encryption illegal. In the UK, for example, the court can compel you to provide any password, and you will be charged if you don't. This can only be subverted with plausible deniability, which steganography provides.
	</p>
	<p>
		This is educational. Don't use it if you really need it. Download and use <a href="https://github.com/StefanoDeVuono/steghide">steghide</a> yourself.
	</p>
	<footer>
		The point of steganography is flying under the radar, and then plausible deniability. Your use of this website might not help either of those objectives, depending on your threat model.<br>
		Made by <a href="https://web.engr.oregonstate.edu/~kulpga/">Gabriel Kulp</a> in 2021. View on <a href="https://github.com/gabrielkulp/steg-maker">GitHub</a>.
	</footer>
{% endblock %}
